body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: lightgoldenrodyellow;
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #ec7f75 #f1f1f1; /* Thumb color and track color */
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1%;

}
.card{    
    border: 2px solid coral;
    padding:2% 2% 0%; 
    width: 30%;
    height: 434px;
    box-shadow: 1px 4px 8px 1px rgba(0,0.2,0,0.5);
    border-style: dashed;   
    margin: 0;
    overflow: auto;
}
h2{
    text-align: center;
}
h3{
    text-decoration-color: orange;
    padding-left: 1%;
}
h4{
    font-display: bold;
    text-decoration: underline;
    font-size: large;
    
}
img{
   border-radius: 4%;
   width: 54%;
   align-content: center;
}
figcaption{
    color: rgb(104, 52, 33);
    font-size: x-small;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
    transition: 600ms;
    border-style: solid;
    
}

.is{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    
}
footer{
    text-align: center;
    text-decoration: underline;
    color: cornflowerblue;
    font-size: large;
}

@media (min-height: 900px) {
    .main {
        flex-direction: column; /* Change to vertical layout on mobile */
        align-items: center; /* Center the cards */
    }

    .card {
        width: 73%; /* Adjust card width for mobile */
        margin-bottom: 20px; /* Space between cards */
        height: auto;
    }
}